librosa
numpy
opencv-contrib-python
opencv-python

# tqdm==4.45.0
# numba==0.48

tqdm
numba

# torch==1.1.0
# torchvision==0.3.0

# use torch 2.5.0+
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121